# Assignment 16 (Course-a-Thon) Data science

# Problem 1

Create a list called years_list, starting with the year of your birth, and each year thereafter until the year of your fifth birthday. For example, if you were born in 1980. the list would be years_list = [1980, 1981, 1982, 1983, 1984, 1985].

### Solution

In [2]:
years_list = [i for i in range(1972,1972+6)]
years_list

[1972, 1973, 1974, 1975, 1976, 1977]

# Problem 2

In which year in years_list was your third birthday? Remember, you were 0 years of age for your first year.

### Solution

In [3]:
years_list[3]

1975

# Problem 3

In the years list, which year were you the oldest?

### Solution

In [5]:
max(years_list)

1977

# Problem 4

Make a list called things with these three strings as elements: 'mozzarella', 'cinderella','salmonella'.

### Solution

In [6]:
things = ['mozzarella', 'cinderella','salmonella']
things

['mozzarella', 'cinderella', 'salmonella']

# Problem 5

Capitalize the element in things that refers to a person and then print the list. Did it change the element in the list?

### Solution

In [18]:
for i in things:
    print(i.capitalize())
things

Mozzarella
Cinderella
Salmonella

['mozzarella', 'cinderella', 'salmonella']

Capitalize() will not update the list original values.

# Problem 6

Make a surprise list with the elements "Groucho", "Chico", and "Harpo"

### Solution

In [8]:
surprise_list = ["Groucho", "Chico", "Harpo"]
surprise_list

['Groucho', 'Chico', 'Harpo']

# Problem 7

 Lowercase the last element of the surprise list, reverse it, and then capitalize it.

### Solution

In [16]:
surprise_list[-1][::-1].lower().capitalize()

'Oprah'

# Problem 8

Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is chien, cat is chat, and walrus is morse.

### Solution

In [24]:
e2f = {'dog':'chien','cat':'chat','walrus':'morse'}
e2f

{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

# Problem 9

Write the French word for walrus in your three-word dictionary e2f.

### Solution

In [21]:
e2f['walrus']

'morse'

# Problem 10

Make a French-to-English dictionary called f2e from e2f. Use the items method.

### Solution

In [22]:
f2e = dict((key,value) for value,key in e2f.items())
f2e

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

# Problem 11

Print the English version of the French word chien using f2e.

### Solution

In [25]:
f2e['chien']

'dog'

# Problem 12

Make and print a set of English words from the keys in e2f.

### Solution

In [26]:
e2f.keys()

dict_keys(['dog', 'cat', 'walrus'])

# Problem 13

Make a multilevel dictionary called life. Use these strings for the topmost keys: 'animals', 'plants', and 'other'. Make the 'animals' key refer to another dictionary with the keys 'cats', 'octopi', and 'emus'. Make the 'cats' key refer to a list of strings with the values 'Henri', 'Grumpy', and 'Lucy'. Make all the other keys refer to empty dictionaries.

### Solution

In [31]:
life = {'animals':{'cat':['henry','grumpy','lucy'],'octopi':'','enums':''},
        'Plants': '',
        'others':''
       }
life

{'animals': {'cat': ['henry', 'grumpy', 'lucy'], 'octopi': '', 'enums': ''},
 'Plants': '',
 'others': ''}

# Problem 14

Print the top-level keys of life.

### Solution

In [32]:
life.keys()

dict_keys(['animals', 'Plants', 'others'])

# Problem 15

Print the keys for life['animals'].

### Solution

In [35]:
life['animals'].keys()

dict_keys(['cat', 'octopi', 'enums'])

# Problem 16

Print the values for life['animals']['cat']

### Solution

In [36]:
life['animals']['cat']

['henry', 'grumpy', 'lucy']